<p style="color: green"><%= notice %></p>

<h1>Заказы</h1>
 <%= link_to "<button>На главную</button>".html_safe, root_path, :id => "button_id", :class => "button_class" %>
<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= button_to "Destroy this order", order, method: :delete %>
    </p>
  <% end %>
</div>
